@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.access
{
    font-family: helvetica, arial, sans-serif;
    padding-top: 40px;
    padding-bottom: -10px;
}

mark
{
    background-color: red;
    color: white;
    box-shadow: 0px 8.5px 0px red;
}

p
{
    padding-top: 10px;
    font-size: 80px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.ecole
{
    letter-spacing: 80px;
    font-family: 'Darker Grotesque',helvetica, sans-serif;
    height: 0px;
    margin-left: 50px;
}

hr
{
    width: 86%;
    height: 1px;
    background-color: black;
}

@media (max-width: 600px)
{
    p
    {
        font-size: 40px;
    }

    .ecole
    {
        letter-spacing: 40px;
    }

    hr 
    {
        width: 80%;
        height: 1px;
    }
}

@media (max-width: 400px)
{
    p
    {
        font-size: 30px;
    }

    .ecole
    {
        letter-spacing: 30px;
    }

    hr
    {
        width: 76%;
    
    }
}